.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.filter-drawer {
  min-width: 200px;
}
.filter-logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.filter-item {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.filter-item .MuiListItemText-primary {
  display: flex;
  align-items: center;
}
.filter-drawer .MuiListItem-secondaryAction {
  padding-right: 60px;
}
.drawer-buttons {
  margin: 10px !important;
  position: absolute !important;
  bottom: 0;
  width: calc(100% - 20px);
}
.drawer-buttons button {
  width: 100%;
  margin-top: 10px;
}
.drawer-buttons button:last-child {
  background-color: #035568;
  color: #d9eff4;
}
#fab-number {
  background-color: #ccb85f;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 200%;
  position: absolute;
  bottom: 0px;
  right: 0;
  border: 4px solid #3f51b5;
}
